/*Comienzan las clases de Luis*/
body {
    box-sizing: border-box;
    padding: 0px;
}

img {
    max-width: 100%;
}

.text-color {
    color: green;
}

a.text-color:hover {
    color: red;
}

.mover-derecha {

    margin-right: 100px;
}

.mover-izquierda {
    margin-left: 50px;
}

.sticky {
    top: 0;
}

.padding-navbar {
    padding: 10px 0px;
}

.mover-izquierda2 {
    margin-left: 200px;
}

@media (min-width: 768px) {
    .carousel-inner>.carousel-item>img {

        min-width: 100%;
        max-height: 600px;
    }
}

@media (min-width:600px) and (max-width:768px) {
    .carousel-inner>.carousel-item>img {

        min-width: 100%;
        max-height: 500px;
    }

}

@media (min-width:400px) and (max-width: 600px) {
    .carousel-inner>.carousel-item>img {

        min-width: 100%;
        max-height: 400px;
    }
}

@media(max-width:400px) {
    .carousel-inner>.carousel-item>img {

        min-width: 100%;
        max-height: 300px;
    }
}

h2,
p {
    text-align: center;
    padding: 20px 0;
}

p {
    padding: 20px 20px;
}











/*Comienzan las clases de michel*/
@media (min-width:300px) and (max-width: 450px) {}













/* Comienzan las clases de Gustavo*/