/*Comienzan las clases de Luis*/
.text-color{color:green;
}
a.text-color:hover{
    color:red;
}
.mover-derecha{

    margin-right: 100px;
}
.mover-isquierda{
    margin-left: 100px ;
}
.sticky{
    top:0;
}
.padding-navbar{
    padding: 10px 0px;
}














/*Comienzan las clases de michel*/